{% extends 'base.html'%}
{% block title %}Ekstrakcja produktu{% endblock %}
{% block content%}
                <form id="ekstrakcja">
                  <div class="mb-3 w-75">
                    <label for="product-id">ID produktu:</label>
                    <input type="text" class="form-control" id="product-id" placeholder="Wprowadź ID produktu">
                  </div>
                  <button type="submit" class="btn btn-secondary">Ekstrakcja</button>
                </form>
{% endblock %}