{% extends 'base.html'%}
{% block title %}Opis projektu{% endblock %}
{% block content%}
                    <div class="gradient-bg">
                      <h3>Cel Aplikacji:</h3>
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero.</p>
                    </div>
                    <div class="gradient-bg">
                      <h3>Opis Działania Aplikacji:</h3>
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero.</p>
                    </div>
                    <div class="gradient-bg">
                      <h3>Zastosowane biblioteki:</h3>
                      <p>-Requests</p> <p>-BeautifulSoup4</p> <p>-Json</p> <p>-Os</p> <p>-Pandas</p> <p>-Numpy</p> <p>-Matplolib</p>
                    </div>
                    <div class="gradient-bg">
                      <h3>Zastosowane podejścia:</h3>
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero.</p>
{% endblock %}