{% extends 'base.html'%}
{% block title %}Lista produktów{% endblock %}
{% block content%}
            <table class="table table-secondary">
              <thead>
                <tr>
                  <th>Nazwa Produktu</th>
                  <th>Liczba opinii</th>
                  <th>Liczba Wad</th>
                  <th>Liczba zalet</th>
                  <th>Średnia ocena</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td><a class="link-success link-offset-2 link-underline link-underline-opacity-0 " href="{{url_for('product')}}">Dane 1</a></td>
                  <td>Dane 2</td>
                  <td>Dane 3</td>
                  <td>Dane 4</td>
                  <td>Dane 5</td>
                </tr>
                <tr>
                  <td><a class="link-success link-offset-2 link-underline link-underline-opacity-0 " href="">Dane 7</a></td>
                  <td>Dane 7</td>
                  <td>Dane 8</td>
                  <td>Dane 9</td>
                  <td>Dane 10</td>
                </tr>
              </tbody>
            </table>
{% endblock %}