{% extends 'base.html'%}
{% block title %}Strona produktu{% endblock %}
{% block content%}
<h3>{{product_code}}</h3>
              <table id="opinions" class="table table-secondary">
                <thead>
                  <tr>
                    <th>ID</th>
                    <th>Autor</th>
                    <th>Rekomendacje</th>
                    <th>Ocena</th>
                    <th>Zweryfikowana</th>
                    <th>Data publikacji</th>
                    <th>Data Zakupu</th>
                    <th>Liczba polubień</th>
                    <th>Liczba niepolubień</th>
                    <th>Treść</th>
                    <th>Zalety</th>
                    <th>Wady</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>1</td>
                    <td>Lorem ipsum dolor sit amet</td>
                    <td>4</td>
                    <td>4</td>
                    <td>4</td>
                    <td>4</td>
                    <td>4</td>
                    <td>4</td>
                    <td>4</td>
                    <td>4</td>
                    <td>4</td>
                    <td>4</td>
                  </tr>
                  <tr>
                    <td>2</td>
                    <td>Consectetur adipiscing elit</td>
                    <td>5</td>
                    <td>4</td>
                    <td>4</td>
                    <td>4</td>
                    <td>4</td>
                    <td>4</td>
                    <td>4</td>
                    <td>4</td>
                    <td>4</td>
                    <td>4</td>
                  </tr>
                  <tr>
                    <td>3</td>
                    <td>Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</td>
                    <td>3</td>
                    <td>4</td>
                    <td>4</td>
                    <td>4</td>
                    <td>4</td>
                    <td>4</td>
                    <td>4</td>
                    <td>4</td>
                    <td>4</td>
                    <td>4</td>
                  </tr>
                </tbody>
              </table>
{% endblock %}
{% block script %}
        <script>
          $(document).ready(function() {

            $('#opinions').DataTable();
          });
        </script>
{% endblock %}